<!DOCTYPE html>
<html>
<head>
  <title>ziols' smiles</title>
  <%= stylesheet_link_tag :all %>	
  <%= javascript_include_tag "jquery", "application" %>
  <%= csrf_meta_tag %>
</head>

<body>
<div id="main">
  <header>
    <!-- <% @header ||= "about" %> -->
    <!-- <%= render :partial => "home/#{@header}" %> -->
    <div class="hero"></div>

    <div class="container">
      <nav>
        <ul>
          <li><%= link_to "home", root_path %></li>
          <li><%= link_to "about", about_path %></li>
          <li><%= link_to "services", services_path %></li>
          <li><%= link_to "new patients", new_patients_path %></li>
          <li><%= link_to "contact", contact_path %></li>
          <li><%= link_to "links", links_path %></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="content">
    <div class="container">
      <div>
        <%= yield %>
      </div>

      <div class="sidebar">
        <!-- <h3>your smile is our priority!</h3> -->

        <section>
          <h4>contact</h4>
          <table>
            <tr>
              <td>phone:</td>
              <td><a href="tel:7737631000">773 763 1000</a></td>
            </tr>
            <tr>
              <td>fax:</td>
              <td><a href="fax:7737637750">773 763 7760</a></td>
            </tr>
            <tr>
              <td>email:</td>
              <td><%= link_to "drziols@gmail.com" %></td>
            </tr>
          </table>
          <a href="http://www.facebook.com/ZiolsSmiles" target="_blank">Facebook</a>
        </section>

        <section>
          <h4>hours</h4>
          <table>
            <tr>
              <td>monday:</td>
              <td>9:00 - 4:00</td>
            </tr>
            <tr>
              <td>tuesday:</td>
              <td>10:00 - 7:00</td>
            </tr>
            <tr>
              <td>wednesday:</td>
              <td>by appointment</td>
            </tr>
            <tr>
              <td>thursday:</td>
              <td>10:00 - 7:00</td>
            </tr>
            <tr>
              <td>friday:</td>
              <td>9:00 - 4:00</td>
            </tr>
            <tr>
              <td>saturday:</td>
              <td>8:00 - 1:00</td>
            </tr>
          </table>
        </section>

        <section>
          <h4>address</h4>
          <ul>
            <li>5399 n milwaukee ave</li>
            <li>chicago, il 60630</li>
          </ul>
          <a href="http://maps.google.com/maps?um=1&ie=UTF-8&q=dr+gordon+j+ziols&fb=1&gl=us&hq=dr+gordon+j+ziols&hnear=Park+Ridge,+IL&cid=0,0,2998087269099188908&ei=s3ObTe6SNov2tgPdo42dBA&sa=X&oi=local_result&ct=image&resnum=4&ved=0CDMQnwIwAw" target="_blank" class="map-it"></a>
        </section>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <p>&copy; 2015 Gordon J Ziols, DDS</p>
      <small>designed by <%= link_to 'nick meccia', 'http://nickmeccia.com', {:target => "_new"}%> </small>
    </div>
  </footer>
</div>
	
</body>
</html>
