<!DOCTYPE html>
<html>
<head>
  <title>Ziols' Smiles</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body>
	<div id="header">
	  	<%= link_to image_tag("header_1.jpg"), root_url %>


	</div>
	
	<div id="links">
		<%= link_to "Contact Us", contact_us_url, :class => "whatever", :id => "thisistheid" %>		
		<%= image_tag "hashes.jpg" %>
	</div>


	<!--so, apparently "yield" is the current page-->
	<div id="yield">
		<%= yield %><br/>
	</div>


	<div id="sidebar">
		<br/>
		<%= image_tag "text_box.jpg", :class => "center" %>
		<%= link_to image_tag("map.jpg"),  {:class => "center"}, 'http://maps.google.com/maps?oe=utf-8&um=1&ie=UTF-8&q=gordon+j+ziols&fb=1&gl=us&hq=gordon+j+ziols&cid=0, 0, 2998087269099188908&ei=o65lTZnbGNGWtwe44JGWBg&sa=X&oi=local__result&ct=image&resnum=4&ved=0CDIQnwIwAw', {:target => "_new"}%>
		<%= image_tag "ad.jpg", :class => "center" %>
		<br/><br/>
	</div>

	
	<div id="footer">
		<%= image_tag "hashes.jpg" %>

	</div>
	
	
</body>
</html>
