<!DOCTYPE html>
<html>
<head>
  <title>ziols' smiles</title>
  <%= stylesheet_link_tag :all %>	
  <%= javascript_include_tag "jquery", "application" %>
  <%= csrf_meta_tag %>
</head>

<body>
<div id="wrap">
	<div id="header">
		<% @header ||= "about" %>
	  	<%= render :partial => "home/#{@header}" %>
	</div>
	
	<div id="container">
		<div id="links">
			<ul class="nav-hor">
			<li><%= link_to "home", root_path, :class => "custom_font" %></li>
			<li><%= link_to "about", about_path, :class => "custom_font" %></li>
			<li><%= link_to "services", services_path, :class => "custom_font" %></li>
			<li><%= link_to "new patients", new_patients_path, :class => "custom_font" %></li>
			<li><%= link_to "contact", contact_path, :class => "custom_font" %></li>
			<li><%= link_to "links", links_path, :class => "custom_font" %></li>
			</ul>
		</div>

		<div id="yield">
			<%= yield %><br/>
		</div>

		<div id="sidebar">
			<div id="text_box">
				<div id="dashes">
					<p class="head_3">your smile is our priority!</p>
				</div>
				<p class="head_blue">contact:</p>
				773 763 1000<br/>
				773 763 7750<br/>
				<%= link_to "drziols@gmail.com" %></p>
				<p class="head_blue">hours:</p>
				monday: 9-5<br/>
				tuesday: 10-7<br/>
				wednesday: by appointment<br/>
				thursday: 10-7<br/>
				friday: 9-5<br/>
				saturday: 8-1
				<p class="head_blue">address:</p>
				5399 n milwaukee ave<br/>
				chicago, il 60630
				<br/>			
			</div>
			<br/>
			<%= link_to image_tag("map.jpg"), 'http://maps.google.com/maps?um=1&ie=UTF-8&q=dr+gordon+j+ziols&fb=1&gl=us&hq=dr+gordon+j+ziols&hnear=Park+Ridge,+IL&cid=0,0,2998087269099188908&ei=s3ObTe6SNov2tgPdo42dBA&sa=X&oi=local_result&ct=image&resnum=4&ved=0CDMQnwIwAw', {:target => "_new", :class => "center"}%>
			<%= image_tag "ad.jpg", :class => "center" %>
			<br/><br/>
		</div> <!-- end sidebar -->
		
		<div id="footer">
			<p class="head_4">
			design & code courtesy of <%= link_to 'http://nickmeccia.com', {:target => "_new"}%> </p>
			<%= link_to image_tag("3.jpg"), 'http://nickmeccia.com', {:target => "_new"}%>
		</div> <!-- end footer -->
	</div> <!-- end container -->
</div> <!-- end wrap -->
	
</body>
</html>
